@model List<MRBLACK.Models.Database.College>
@{
    Layout = null;
    var i = ViewBag.PageStartRowNum;

}

@foreach (var item in Model)
{
    <tr>
        <td>@i</td>
        <td>
            @Html.DisplayFor(modelItem => item.EnName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArName)
        </td>
        <td>
            @if (item.UcdsEductionManagement != null && item.UcdsEductionManagement.Count() > 0)
            {
                foreach (var ucds in item.UcdsEductionManagement)
                {
                    <span>@ucds.University.ArName - @ucds.University.Country.ArName</span>
                    <br />
                }
            }
        </td>
        <td>
            @if (item.ImgPath != null)
            {
                <img src="~/Uploads/Images/Colleges/@item.ImgPath" width="50" height="50" style="border-radius:100%;" />
            }
        </td>
        <td>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#flipFlop" onclick="FillPopup('/College/Edit/@item.Id')">
                <i class="fa fa-edit"></i>  تعديل
            </button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#flipFlop" onclick="FillPopup('/College/Delete/@item.Id')">
                <i class="fa fa-trash"></i>  حذف
            </button>
        </td>
    </tr>
    i++;
}
