@model List<MRBLACK.Models.Database.College>
@{
    Layout = null;
    var i = ViewBag.PageStartRowNum;

}

@foreach (var item in Model)
{
    <tr>
        <td>@i</td>
        <td>
            @Html.DisplayFor(modelItem => item.EnName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArName)
        </td>
        <td>
            <a href="/AcademicYear/Index">
                <span class="@(item.Years == 0 ? "text-gray" : "font-weight-bold")">@item.Years</span>
            </a>
        </td>
        <td>
            <a href="/Term/Index">
                <span class="@(item.Terms == 0 ? "text-gray" : "font-weight-bold")">@item.Terms</span>
            </a>
        </td>
        <td>
            @if (item.UcdsEductionManagement != null)
            {
                var depts = item.UcdsEductionManagement.Where(c => c.DepartmentId != null).Select(c => c.DepartmentId).Distinct().Count();
                <a href="@(depts == 0 ? "#" : "/Department/Index?searchStr="+item.ArName)">
                    <span class="@(depts == 0 ? "text-gray" : "font-weight-bold")">@depts</span>
                </a>
            }
        </td>
        <td>
            @if (item.UcdsEductionManagement != null)
            {
                var subjects = item.UcdsEductionManagement.Where(c => c.SubjectId != null).Select(c => c.SubjectId).Distinct().Count();
                <a href="@(subjects == 0 ? "#" : "/Subject/Index?searchStr="+item.ArName)">
                    <span class="@(subjects == 0 ? "text-gray" : "font-weight-bold")">@subjects</span>
                </a>
            }
        </td>
        <td>
            <span class="text-gray">0</span>
        </td>
        <td>
            @if (item.UcdsEductionManagement != null && item.UcdsEductionManagement.Count() > 0)
            {
                foreach (var ucds in item.UcdsEductionManagement.Select(c => c.University).Distinct())
                {
                    <p>@ucds.ArName - @ucds.Country.ArName</p>
                }
            }
        </td>
        <td>
            @if (item.ImgPath != null)
            {
                <img src="~/Uploads/Images/Colleges/@item.ImgPath" width="50" height="50" style="border-radius:100%;" />
                <br />
                <a href="/College/RemoveImage/@item.Id" class="text-danger"><i class="fa fa-times"></i> حذف الصورة</a>
            }
        </td>
        <td>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#flipFlop" onclick="FillPopup('/College/Edit/@item.Id')">
                <i class="fa fa-edit"></i>  تعديل
            </button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#flipFlop" onclick="FillPopup('/College/Delete/@item.Id')">
                <i class="fa fa-trash"></i>  حذف
            </button>
        </td>
    </tr>
    i++;
}
