@model MRBLACK.Models.Database.College

@{
    Layout = null;
}
<link href="~/chosen_v1.8.7/chosen.min.css" rel="stylesheet" />


<style>
    .chosen-choices li {
        width: 100%;
    }
</style>

<form asp-action="@ViewBag.ActionName" method="post" enctype="multipart/form-data" id="myForm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modalLabel">اضافة/تعديل كلية</h4>
        </div>
        <div class="modal-body">
            <div class="panel">
                <div class="panel-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="ImgPath" />
                    <div class="form-group row">
                        <label class="col-lg-3">الاسم بالانجليزية</label>
                        <input asp-for="EnName" class="enText col-lg-9 form-control" placeholder="الاسم بالانجليزية" />
                        <span asp-validation-for="EnName" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3">الاسم بالعربية</label>
                        <input asp-for="ArName" class="arText col-lg-9 form-control" placeholder="الاسم بالعربية" />
                        <span asp-validation-for="ArName" class="text-danger"></span>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3">السنين الدراسية</label>
                        <input asp-for="Years" class="col-lg-9 form-control inpNumber" placeholder="السنين الدراسية" />
                        <span asp-validation-for="Years" class="text-danger"></span>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3">الترمات</label>
                        <input asp-for="Terms" class="col-lg-9 form-control inpNumber" placeholder="الترمات"/>
                        <span asp-validation-for="Terms" class="text-danger"></span>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3">الجامعات</label>
                        <select class="col-lg-9 form-control chosen-select" multiple id="Universities" name="Universities" required>
                            @foreach (MRBLACK.Models.Database.University item in ViewBag.UniversityCountryList)
                            {
                                if (Model.UcdsEductionManagement != null && Model.UcdsEductionManagement.Where(c => c.UniversityId == item.Id).Count() > 0)
                                {
                                    <option value="@item.Id" selected>@item.ArName - @item.Country.ArName</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.ArName - @item.Country.ArName</option>
                                }

                            }
                        </select>
                        <span id="multiselectErrorMsg" class="text-danger" hidden>قم باختيار اختيار واحد على الاقل</span>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3">شعار الكلية</label>
                        <input name="img" id="img" class="col-lg-9 form-control" type="file" />
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">اغلاق</button>
            <input type="button" onclick="Save()" value="حفظ" class="btn btn-success" />
        </div>
    </div>
</form>

<script src="~/chosen_v1.8.7/chosen.jquery.min.js"></script>
<script src="~/chosen_v1.8.7/chosen.proto.min.js"></script>
<script>
    $(".chosen-select").chosen({
        no_results_text: "Oops, nothing found!"
    })
</script>
<!-- ClientSide Validation -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}

<script type="text/javascript" src="~/js/site.js"></script>

<script type="text/javascript">
    function Save() {
        var multiselectValues = $("#Universities").val();
        if (multiselectValues == null) {
            $("#multiselectErrorMsg").show();
        }
        else {
            $("#multiselectErrorMsg").hide();
            $("#myForm").submit();
        }
    }

    document.querySelector("#Years").addEventListener("keypress", function (evt) {
        if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57) {
            evt.preventDefault();
        }
    });

    document.querySelector("#Terms").addEventListener("keypress", function (evt) {
        if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57) {
            evt.preventDefault();
        }
    });

</script>