@model MRBLACK.Models.Database.Service
@{
    if (User.IsInRole("ADMIN"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_SiteLayout.cshtml";
    }
}
<style>
    #dvResearch {
        display: none;
    }
</style>
@if (Model.Category != null)
{
    if (Model.Category.FormType == (int)MRBLACK.Models.Enums.ServiceFormType.Research)
    {
        <style>
            #dvResearch {
                display: inherit;
            }
        </style>
    }
}

<button type="button" class="btn btn-buy" onclick="BackToPreviousPage()"><i class="fa fa-forward"></i> العودة للصفحة السابقة</button>


<form asp-action="@ViewBag.ActionName" method="post" enctype="multipart/form-data">
    <div class="panel">
        <div class="panel-heading">
            <h2 class="text-center">اضافة/تعديل خدمة</h2>
        </div>
        <div class="panel-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImgPath" />
            <input type="hidden" asp-for="AnotherImgPath" />
            <input type="hidden" asp-for="FormTypeId" />
            <div class="form-group row">
                <div class="col-sm-6">
                    <label asp-for="EnName">الاسم</label>
                    <input asp-for="EnName" class="enText form-control" placeholder="الاسم بالانجليزية" />
                    <span asp-validation-for="EnName" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="ArName">الاسم بالعربية</label>
                    <input asp-for="ArName" class="arText form-control" placeholder="الاسم بالعربية" />
                    <span asp-validation-for="ArName" class="text-danger"></span>
                </div>
                <div class="col-sm-12">
                    <label asp-for="Description">الوصف</label>
                    <textarea asp-for="Description" class="form-control" rows="10"></textarea>
                </div>
                <div class="col-sm-6">
                    <label asp-for="ProviderId">مقدم الخدمة</label>
                    <select asp-for="ProviderId" class="form-control" data-live-search="true" asp-items="@ViewBag.ProviderList">
                        <option selected disabled>اختر مقدم الخدمة</option>
                    </select>
                    <span asp-validation-for="ProviderId" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="CategoryId">التصنيف</label>
                    <select asp-for="CategoryId" class="form-control" data-live-search="true" onchange="ChangeCategory(this);" asp-items="@ViewBag.CategoryList">
                        <option disabled selected>اختر التصنيف</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label for="img">الصورة الرئيسية للخدمة</label>
                    <input type="file" class="form-control" id="img" name="img" />
                </div>
                <div class="col-sm-6">
                    <label for="anotherImg">الصورة الفرعية للخدمة</label>
                    <input type="file" class="form-control" id="anotherImg" name="anotherImg" />
                </div>
                @* Start Lists Of ( Country - Universit - College - Departments - Years - Terms - Subjects ) *@
                <div class="col-sm-6">
                    <label for="CountryId">الدولة</label>
                    <select id="CountryId" class="form-control" data-live-search="true" onchange="ChangeCountry(this);">
                        <option disabled selected>اختر الدولة</option>
                        @foreach (var item in ViewBag.CountryList)
                        {
                            if (Model.University != null)
                            {
                                if (item.Value == Model.University.CountryId.ToString())
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                    <span for="CountryId" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="UniversityId">الجامعة</label>
                    <select asp-for="UniversityId" class="form-control" data-live-search="true" asp-items="@ViewBag.UniversityList" onchange="ChangeUniversity(this)">
                        <option disabled selected>اختر الجامعة</option>
                    </select>
                    <span asp-validation-for="UniversityId" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="CollegeId">الكلية</label>
                    <select asp-for="CollegeId" class="form-control" data-live-search="true" asp-items="@ViewBag.CollegeList" onchange="ChangeCollege(this)">
                        <option disabled selected>اختر الكلية</option>
                    </select>
                    <span asp-validation-for="CollegeId" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="DepartmentId">القسم</label>
                    <select asp-for="DepartmentId" class="form-control" data-live-search="true" asp-items="@ViewBag.DepartmentList" onchange="ChangeDepartment(this)">
                        <option disabled selected>اختر القسم</option>
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="AcademinYearId">السنة الدراسية</label>
                    <select asp-for="AcademinYearId" class="form-control" data-live-search="true" asp-items="@ViewBag.AcademicYearList">
                        <option disabled selected>اختر السنة الدراسية</option>
                    </select>
                    <span asp-validation-for="AcademinYearId" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="TermId">الترم</label>
                    <select asp-for="TermId" class="form-control" data-live-search="true" asp-items="@ViewBag.TermList">
                        <option disabled selected>اختر الترم</option>
                    </select>
                    <span asp-validation-for="TermId" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="SubjectId">المادة</label>
                    <select asp-for="SubjectId" class="form-control" data-live-search="true" asp-items="@ViewBag.SubjectList">
                        <option disabled selected>اختر المادة</option>
                    </select>
                    <span asp-validation-for="SubjectId" class="text-danger"></span>
                </div>
                @* End Lists Of ( Country - Universit - College - Departments - Years - Terms - Subjects ) *@
                <div class="col-sm-6">
                    <label asp-for="TotalPrice">السعر</label>
                    <input asp-for="TotalPrice" class="form-control" maxlength="7" />
                    <span asp-validation-for="TotalPrice" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label for="PlatformCommission">نسبة المنصة من السعر (%)</label>
                    <input id="PlatformCommission" maxlength="7" value="@ViewBag.PlatformCommission" class="form-control" disabled />
                </div>
                <div class="col-sm-6">
                    <label for="PlatformCommissionVal">مبلغ المنصة من السعر</label>
                    <input id="PlatformCommissionVal" maxlength="7" value="@ViewBag.PlatformCommissionVal" class="form-control" disabled />
                </div>
                <div class="col-sm-6">
                    <label asp-for="Discount">اضافة خصم</label>
                    <input asp-for="Discount" maxlength="7" class="form-control" />
                    <span asp-validation-for="Discount" class="text-danger"></span>
                </div>
                @*<div class="col-sm-6">
                        <label asp-for="CurrencyTypeId">نوع العملة</label>
                        <select asp-for="CurrencyTypeId" asp-items="@ViewBag.CurrencyTypeList" class="form-control">
                            <option  selected disabled>اختر نوع العملة</option>
                        </select>
                    </div>*@

            </div>

            <div class="form-group row" id="dvResearch">
                <div class="col-sm-12">
                    <h4 class="text-center">عدد الصفحات</h4>
                </div>

                <div class="col-sm-6">
                    <label asp-for="MinNumOfPages">من</label>
                    <input asp-for="MinNumOfPages" class="form-control" maxlength="7" type="text" />
                    <span asp-validation-for="MinNumOfPages" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="MaxNumOfPages">الى</label>
                    <input asp-for="MaxNumOfPages" class="form-control" maxlength="7" type="text" />
                    <span asp-validation-for="MaxNumOfPages" class="text-danger"></span>
                </div>
                <div class="col-sm-12 mt-20">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <input asp-for="HasMargins" type="checkbox" />
                                <label asp-for="HasMargins">يحتوي على هوامش</label>
                            </div>
                            <div class="col-sm-6">
                                <input asp-for="MarginsPrice" class="form-control" placeholder="التكلفة" type="text" maxlength="7" />
                                <span asp-validation-for="MarginsPrice" maxlength="7" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <input asp-for="HasReference" type="checkbox" />
                                <label asp-for="HasReference">يحتوي على مراجع</label>
                            </div>
                            <div class="col-sm-6">
                                <input asp-for="ReferencesPrice" maxlength="7" type="text" class="form-control" placeholder="التكلفة" />
                                <span asp-validation-for="ReferencesPrice" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <input asp-for="HasSpelling" type="checkbox" />
                                <label asp-for="HasSpelling">تدقيق املائي</label>
                            </div>
                            <div class="col-sm-6">
                                <input asp-for="SpellingPrice" maxlength="7" type="text" class="form-control" placeholder="التكلفة" />
                                <span asp-validation-for="SpellingPrice" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <input asp-for="HasIntroAndEnd" type="checkbox" />
                                <label asp-for="HasIntroAndEnd">يحتوي على مقدمة و خاتمة</label>
                            </div>
                            <div class="col-sm-6">
                                <input asp-for="IntroAndEndPrice" maxlength="7" type="text" class="form-control" placeholder="التكلفة" />
                                <span asp-validation-for="IntroAndEndPrice" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <label for="Total">السعر بعد اضافة الخصم و خصم مبلغ او نسبة المنصة</label>
                @{
                    decimal Total = 0;
                }
                @if (Model.Id > 0)
                {
                    decimal commVal = ViewBag.PlatformCommissionVal;
                    if (ViewBag.PlatformCommission > 0)
                    {
                        commVal = Model.TotalPrice * ((decimal)ViewBag.PlatformCommission) / 100;
                    }
                    Total = Model.TotalPrice - commVal - Model.Discount;
                }
                <input type="number" class="form-control" id="Total" value="@Total" disabled />
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-info" href="/Service/Index">عودة للقائمة</a>
            <input type="submit" value="حفظ" class="btn btn-success" />
        </div>
    </div>

</form>

<script type="text/javascript">

    function ChangeCountry(element) {
        var countryId = $(element).val();
        $.ajax({
            type: "get",
            url: "/Service/FilterUponCountry",
            data: { CountryId: countryId },
            success: function (result) {
                FillList("UniversityId", result[0], "الجامعة");
                FillList("CollegeId", result[1], "الكلية");
                FillList("DepartmentId", result[2], "القسم");
                FillList("SubjectId", result[3], "المادة");
            }
        });
    }

    function ChangeUniversity(element) {
        var universityId = $(element).val();
        $.ajax({
            type: "get",
            url: "/Service/FilterUponUniversity",
            data: { UniversityId: universityId },
            success: function (result) {
                FillList("CollegeId", result[0], "الكلية");
                FillList("DepartmentId", result[1], "القسم");
                FillList("SubjectId", result[2], "المادة");
            }
        });
    }

    function ChangeCollege(element) {
        var collegeId = $(element).val();
        $.ajax({
            type: "get",
            url: "/Service/FilterUponCollege",
            data: { CollegeId: collegeId },
            success: function (result) {
                FillList("DepartmentId", result[0], "القسم");
                FillList("SubjectId", result[1], "المادة");
            }
        });
    }

    function ChangeDepartment(element) {
        var departmentId = $(element).val();
        $.ajax({
            type: "get",
            url: "/Service/FilterUponDepartment",
            data: { DepartmentId: departmentId },
            success: function (result) {
                FillList("SubjectId", result[0], "المادة");
            }
        });
    }


    function FillList(id, source, selected) {
        $("#" + id).empty();
        $("#" + id).append("<option selected disabled>اختر " + selected + "</option>");
        for (var i = 0; i < source.length; i++) {
            $("#" + id).append('<option value="' + source[i].value + '">' + source[i].text + '</option>');
        }
    }

    var categoryServiceCurrencyType = 0;
    function ChangeCategory(element) {
        var categoryId = $(element).val();
        $.ajax({
            type: "get",
            url: "/Service/GetServiceCategoryDetails",
            data: { CategoryId: categoryId },
            success: function (result) {
                debugger;
                var jsobj = JSON.parse(result);
                if (jsobj.PricingMethod == 1) { //gabry
                    $('#TotalPrice').val(jsobj.ServicePrice);
                    $('#TotalPrice').prop('readonly', true);
                    $("#CurrencyTypeId").val(jsobj.CurrencyTypeId);
                    $('#CurrencyTypeId').attr("style", "pointer-events: none;");
                    $('#PlatformCommissionVal').val(jsobj.PlatformRevenueFromServPrice);
                    $('#PlatformCommission').val(0);
                }
                else if (jsobj.PricingMethod == 2) {//commission
                    $('#TotalPrice').val(0);
                    $('#TotalPrice').prop('readonly', false);
                    $('#CurrencyTypeId').attr("style", "pointer-events:inherit;");
                    $('#PlatformCommissionVal').val(0);
                    $('#PlatformCommission').val(jsobj.CommissionPercentage);

                }

                if (jsobj.FormType == 2) {//Research
                    $("#dvResearch").attr("style", "display:inherit;");
                }
                else {
                    $("#dvResearch").attr("style", "display:none;");
                }

                CalculatePrice();
            }
        });
    }

    $("#TotalPrice, #Discount, #MarginsPrice, #ReferencesPrice, #SpellingPrice, #IntroAndEndPrice").keyup(function () {
        CalculatePrice();
    });

    function CalculatePrice() {
        var TotalPrice = Number($("#TotalPrice").val());
        var PlatformCommission = Number($("#PlatformCommission").val());
        var PlatformCommissionVal = Number($("#PlatformCommissionVal").val());
        if (PlatformCommission > 0) {
            PlatformCommissionVal = TotalPrice * PlatformCommission / 100;
        }
        var Discount = Number($("#Discount").val());
        var margins = Number($("#MarginsPrice").val());
        var refernces = Number($("#ReferencesPrice").val());
        var spelling = Number($("#SpellingPrice").val());
        var introEnd = Number($("#IntroAndEndPrice").val());
        var Total = TotalPrice + margins + refernces + spelling + introEnd - PlatformCommissionVal - Discount;
        $("#Total").val(Total);
    }

    $("#UniversityId").change(function () {
        var UniversityId = $(this).val();
        $.ajax({
            type: "get",
            url: "/Service/GetUCDSByUniversity",
            data: { universityId: UniversityId },
            success: function (result) {
                //debugger;
                //$("#UniversityId").empty();
                //$("#UniversityId").append("<option value='-1' selected disabled>اختر الجامعة</option>");

                //for (var i = 0; i < result.length; i++) {
                //    $("#UniversityId").append('<option value="' + result[i].value + '">' + result[i].text + '</option>');
                //}
            }
        });
    });


    document.querySelector("#TotalPrice").addEventListener("keypress", function (evt) {
        if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57) {
            evt.preventDefault();
        }
    });
    document.querySelector("#Discount").addEventListener("keypress", function (evt) {
        if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57) {
            evt.preventDefault();
        }
    });
    document.querySelector("#MarginsPrice").addEventListener("keypress", function (evt) {
        if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57) {
            evt.preventDefault();
        }
    });
    document.querySelector("#ReferencesPrice").addEventListener("keypress", function (evt) {
        if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57) {
            evt.preventDefault();
        }
    });
    document.querySelector("#SpellingPrice").addEventListener("keypress", function (evt) {
        if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57) {
            evt.preventDefault();
        }
    });
    document.querySelector("#IntroAndEndPrice").addEventListener("keypress", function (evt) {
        if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57) {
            evt.preventDefault();
        }
    });
    document.querySelector("#MinNumOfPages").addEventListener("keypress", function (evt) {
        if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57) {
            evt.preventDefault();
        }
    });
    document.querySelector("#MaxNumOfPages").addEventListener("keypress", function (evt) {
        if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57) {
            evt.preventDefault();
        }
    });

</script>

<!-- ClientSide Validation -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
