@model List<MRBLACK.Models.Database.Article>
@{
    Layout = null;
    var i = ViewBag.PageStartRowNum;
}

@foreach (var item in Model)
{
    <tr>
        <td>@i</td>
        <td>ART_@item.Id</td>
        <td>
            @if (item.ImgPath != null)
            {
                <img src="~/Uploads/Images/Articles/@item.ImgPath" width="50" height="50" style="border-radius:100%;" />
                <br />
                <a href="/Article/RemoveImage/@item.Id" class="text-danger"><i class="fa fa-times"></i> حذف الصورة</a>
            }
        </td>
        <td>@item.ArName</td>
        <td>@item.WriterName</td>
        <td>@item.ArticleCategory.ArName</td>
        <td>@item.ViewsNum</td>
        <td>@item.PublishOn.ToString("dd/MM/yyyy")</td>
        <td>@item.Status</td>
        <td>
            <a class="btn btn-info" href="/Article/Edit/@item.Id">
                <i class="fa fa-edit"></i><span>  تعديل</span>
            </a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#flipFlop" onclick="FillPopup('/Article/Delete/@item.Id')">
                <i class="fa fa-trash"></i><span>  حذف</span>
            </button>
        </td>
    </tr>
    i++;
}
