@model MRBLACK.Models.ViewModels.RequestVM

@{
    Layout = "~/Views/_UserLayout.cshtml";
}
<!-- ClientSide Validation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

@*@if (ViewBag.ActionName == "Create") { 
<style>
    #ServiceCategoryRequest_CategoryId{
        pointer-events:none;
    }
</style>
}*@

<form asp-action="@ViewBag.ActionName" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel">
                <div class="panel-heading">
                    <h2 class="text-center">اضافة/تعديل طلب خدمة</h2>
                </div>
                <div class="panel-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ServiceCategoryRequest.Id" />
                    <input type="hidden" asp-for="ServiceCategoryRequest.StudentId" />

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label asp-for="ServiceCategoryRequest.RequestCode">الكود</label>
                            <input asp-for="ServiceCategoryRequest.RequestCode" readonly class="form-control" placeholder="الكود" />
                            <span asp-validation-for="ServiceCategoryRequest.RequestCode" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="ServiceCategoryRequest.RequestDateTime">تاريخ الطلب</label>
                            <input asp-for="ServiceCategoryRequest.RequestDateTime" readonly class="form-control" placeholder="تاريخ الطلب" />
                            <span asp-validation-for="ServiceCategoryRequest.RequestDateTime" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label for="CountryId">الدولة</label>
                            <select id="CountryId" class="form-control" data-live-search="true" onchange="ChangeCountry(this)">
                                <option value="-1" disabled selected>اختر الدولة</option>
                                @foreach (var item in Model.CountryList)
                                {
                                    if (Model.ServiceCategoryRequest.University != null)
                                    {
                                        if (item.Value == Model.ServiceCategoryRequest.University.CountryId.ToString())
                                        {
                                            <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="ServiceCategoryRequest.UniversityId">الجامعة</label>
                            <select asp-for="ServiceCategoryRequest.UniversityId" 
                                    class="form-control" data-live-search="true" asp-items="@Model.UniversityList">
                                <option value="-1" disabled selected>اختر الجامعة</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="ServiceCategoryRequest.CollegeId">الكلية</label>
                            <select asp-for="ServiceCategoryRequest.CollegeId" 
                                    class="form-control" data-live-search="true" asp-items="@Model.CollegeList" >
                                <option value="-1" disabled selected>اختر الكلية</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="ServiceCategoryRequest.DepartmentId">القسم</label>
                            <select asp-for="ServiceCategoryRequest.DepartmentId" 
                                    class="form-control" data-live-search="true" asp-items="@Model.DepartmentList" >
                                <option value="-1" disabled selected>اختر القسم</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="ServiceCategoryRequest.AcademinYearId">السنة الدراسية</label>
                            <select asp-for="ServiceCategoryRequest.AcademinYearId" class="form-control" 
                                    data-live-search="true" asp-items="@Model.AcademicYearList" >
                                <option value="-1" disabled selected>اختر السنة الدراسية</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="ServiceCategoryRequest.TermId">الترم</label>
                            <select asp-for="ServiceCategoryRequest.TermId" class="form-control" 
                                    data-live-search="true" asp-items="@Model.TermList"  >
                                <option value="-1" disabled selected>اختر الترم</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="ServiceCategoryRequest.SubjectId">المادة</label>
                            <select asp-for="ServiceCategoryRequest.SubjectId" class="form-control" 
                                    data-live-search="true" asp-items="@Model.SubjectList"  >
                                <option value="-1" disabled selected>اختر المادة</option>
                            </select>
                        </div>

                        <div class="col-sm-6">
                            <label asp-for="ServiceCategoryRequest.CategoryId">التصنيف</label>
                            <select asp-for="ServiceCategoryRequest.CategoryId" class="form-control" 
                                    data-live-search="true" asp-items="@Model.MainCategoryList"  onchange="GetSubCategoriesForParentCategory()">
                                <option value="-1" disabled selected>اختر التصنيف</option>
                            </select>
                        </div>

                        <div class="col-sm-6">
                            <label asp-for="ServiceCategoryRequest.Status">الحالة</label>
                            <select asp-for="ServiceCategoryRequest.Status" class="form-control" data-live-search="true" style="pointer-events:none;">
                                @if (Model.ServiceCategoryRequest.Status == 1)
                                {
                                    <option value="1" selected>قيد الانتظار</option>
                                }
                                else
                                {
                                    <option value="1">قيد الانتظار</option>
                                }

                                @if (Model.ServiceCategoryRequest.Status == 2)
                                {
                                    <option value="2" selected>موافق عليه و في مرحلة التنفيذ</option>
                                }
                                else
                                {
                                    <option value="2">موافق عليه و في مرحلة التنفيذ</option>
                                }

                                @if (Model.ServiceCategoryRequest.Status == 3)
                                {
                                    <option value="3" selected>تم الانتهاء</option>
                                }
                                else
                                {
                                    <option value="3">تم الانتهاء</option>
                                }

                                @if (Model.ServiceCategoryRequest.Status == 4)
                                {
                                    <option value="4" selected>تم التسليم</option>
                                }
                                else
                                {
                                    <option value="4">تم التسليم</option>
                                }
                            </select>
                        </div>
                        @if (Model.ProviderList != null)
                        {
                            <div class="col-sm-6">
                                <label asp-for="ServiceCategoryRequest.ProviderId">مقدم الخدمة</label>
                                <select asp-for="ServiceCategoryRequest.ProviderId" class="form-control" data-live-search="true" asp-items="@Model.ProviderList">
                                    <option value="-1" selected disabled>اختر مقدم الخدمة</option>
                                </select>
                            </div>
                        }
                        <div class="col-sm-12 mt-20" id="ServiceRequestCollection">
                            @if (Model.ServiceRequestCollection != null && Model.ServiceRequestCollection.Count() > 0)
                            {
                                <partial name="_ServiceRequestCollection" model="@Model" />
                            }
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-info" href="/Request/Index">عودة للقائمة</a>
                        @if (Model.CanEdited)
                        {
                            <input type="submit" value="حفظ" class="btn btn-success" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<script type="text/javascript">

    function ChangeCountry(element) {
        var countryId = $(element).val();
        $.ajax({
            type: "get",
            url: "/Service/GetCountryUniversities",
            data: { CountryId: countryId },
            success: function (result) {
                debugger;
                $("#ServiceCategoryRequest_UniversityId").empty();
                $("#ServiceCategoryRequest_UniversityId").append("<option value='-1' selected disabled>اختر الجامعة</option>");

                for (var i = 0; i < result.length; i++) {
                    $("#ServiceCategoryRequest_UniversityId").append('<option value="' + result[i].value + '">' + result[i].text + '</option>');
                }
            }
        });
    }

    function GetSubCategoriesForParentCategory() {
        if ("@ViewBag.ActionName" == "Create") {
            var MainCategoryId = $("#ServiceCategoryRequest_CategoryId").val();
            if (MainCategoryId != null) {
                $.ajax({
                    type: "get",
                    url: "/Request/GetSubCategoriesForParentCategory",
                    data: { MainCategoryId: MainCategoryId },
                    success: function (result) {
                        $("#ServiceRequestCollection").html(result);
                    }
                });
            }
        }
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
