@model List<MRBLACK.Models.ViewModels.ServiceInIndexVm>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="course-item">
            @*  <span class="offer">offer</span>*@

            @if (string.IsNullOrEmpty(item.ImageUrl))
            {
                <img src="~/assets/img/course-1.jpg" class="img-fluid" alt="...">
            }
            else
            {
                <img src="~/Uploads/Images/Services/@item.ImageUrl" class="img-fluid" alt="...">
            }
            <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>@item.LeefCategoryName</h4>
                    <p class="price">EG @item.TotalPrice</p>
                </div>

                <h3><a href="course-details.html">@item.Name</a></h3>
                <p>
                    @item.Description
                </p>
                <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                        <img src="~/assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                        <span>@item.ProviderName</span>
                    </div>
                    <div class="trainer-rank d-flex align-items-center">
                        <i class='bx bxs-star'></i><span>@item.ProviderRate</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
