@model MRBLACK.Models.ViewModels.IndexPageVm
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section id="hero" class="">
    <div class="" data-aos="zoom-in" data-aos-delay="100">
        <div>
            <div class="owl-slider" id="owl-slider-hero">
                <!-- slide 01 -->
                @for (int i = 0; i < Model.SlideShow.Count; i++)
                {
                    <div class="slide">
                        <div class="owl-slide" style="background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('/Uploads/Images/SlideShow/@Model.SlideShow[i].ImageUrl');">
                            <div class="owl-text text-center">
                                <h2>@Model.SlideShow[i].Caption</h2>
                                <a href="@Model.SlideShow[i].Link" class="btn-get-started">Get Started</a>
                            </div>
                        </div>
                    </div>
                }              
            </div>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">


    <section class="advertising">
        <div class="container" data-aos="fade-up">
            <div class="img">
                <img src="~/assets/img/advertising.jpg" class="img-fluid" alt="">
            </div>

        </div>
    </section>
    <!-- ======= Popular Courses Section ======= -->
    @foreach (var category in Model.categoryWithServices)
    {
        if (category.Services.Count > 0)
        {
            <section id="popular-courses" class="courses">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <div class="title">
                            <h2>@category.CategoryName</h2>
                            <p>@category.CategoryName</p>
                        </div>
                        <div class="btn-title">
                            <a href="Home/Services?CategoryId=@category.Id" class="title-btn">
                                see-more
                            </a>
                        </div>
                    </div>


                    <div class="owl-carousel courses-carousel" data-aos="zoom-in" data-aos-delay="100">
                        @foreach (var service in category.Services)
                        {



                            <div class="course-item">
                                <a href="course-details.html">
                                    @if (string.IsNullOrEmpty(service.ImageUrl))
                                    {
                                        <img src="~/assets/img/course-1.jpg" class="img-fluid" alt="...">
                                    }
                                    else
                                    {
                                        <img src="~/Uploads/Images/Services/@service.ImageUrl" class="img-fluid" alt="...">
                                    }
                                    <div class="course-content">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <h4>@service.LeefCategoryName</h4>
                                            <p class="price">EG @service.TotalPrice</p>
                                        </div>

                                        <h3><a href="course-details.html">@service.Name</a></h3>
                                        <p>
                                            @service.Description
                                        </p>
                                        <div class="trainer d-flex justify-content-between align-items-center">
                                            <div class="trainer-profile d-flex align-items-center">
                                                <img src="~/assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                                                <span>@service.ProviderName</span>
                                            </div>
                                            <div class="trainer-rank d-flex align-items-center">
                                                <i class='bx bxs-star'></i><span>@service.ProviderRate</span>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </section><!-- End Popular Courses Section -->
        }
    }

    <section class="advertising">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-md-6">
                    <div class="img">
                        <img src="~/assets/img/advertising.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="img">
                        <img src="~/assets/img/advertising.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>professor</h2>
                <p>Our Professional professor</p>
            </div>

            <div class="owl-carousel trainers-carousel" data-aos="zoom-in" data-aos-delay="100">
                @foreach (var provider in Model.Providers)
                {
                    <div class="member">
                        @if (string.IsNullOrEmpty(provider.ImageUrl))
                        {
                            <img src="~/assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                        }
                        else
                        {
                            <img src="~/Uploads/Images/Users/@provider.ImageUrl" class="img-fluid" alt="">
                        }
                        <div class="member-content">
                            <h4>@provider.Name</h4>
                            @*    <span>Web Development</span>*@
                            <p>
                                @provider.Description
                            </p>
                            <div class="trainer-rank d-flex align-items-center">
                                <i class='bx bxs-star'></i><span>@provider.Rate</span>

                            </div>
                        </div>
                    </div>
                }



            </div>

        </div>
    </section><!-- End Trainers Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">@Model.Students</span>
                    <p>Students</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">@Model.CountProviders</span>
                    <p>Providers</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">@Model.Services</span>
                    <p>Services</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">@Model.Books</span>
                    <p>Books</p>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->

</main><!-- End #main -->