@model MRBLACK.Models.ViewModels.IndexPageVm
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section id="hero" class="">
    <div class="" data-aos="zoom-in" data-aos-delay="100">
        <div>

            <div class="owl-slider" id="owl-slider-hero">
                @for (int i = 0; i < Model.SlideShow.Count; i++)
                {
                    <div class="slide">
                        <div class="owl-slide-1" style="background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('/Uploads/Images/SlideShow/@Model.SlideShow[i].ImageUrl');">
                            <div class="owl-text text-center">
                                <h2>@Model.SlideShow[i].Caption</h2>
                                <a href="@Model.SlideShow[i].Link" class="btn-get-started">Get Started</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <span class="iconify" data-icon="flat-color-icons:next"></span>

        </div>
    </div>

</section>

<main id="main">


    <section class="advertising">
        <div class="container" data-aos="fade-up">
            <div class="img">
                <img src="~/assets/img/advertising.jpg" class="img-fluid" alt="">
            </div>

        </div>
    </section>
    <!-- ======= Popular Courses Section ======= -->
    @foreach (var category in Model.categoryWithServices)
    {
        if (category.Services.Count > 0)
        {
            <section id="popular-courses" class="courses">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <div class="title">
                            <h2>@category.CategoryName</h2>
                            <p>@category.CategoryName</p>
                        </div>
                        <div class="btn-title">
                            <a href="Home/Services?CategoryId=@category.Id" class="title-btn">
                                see-more
                            </a>
                        </div>
                    </div>


                    <div class="owl-carousel courses-carousel" data-aos="zoom-in" data-aos-delay="100">
                        @foreach (var service in category.Services)
                        {
                            <div class="course-item item">
                                <a href="#">
                                    @if (string.IsNullOrEmpty(service.ImageUrl))
                                    {
                                        <img src="~/assets/img/course-1.jpg" class="img-fluid" alt="...">
                                    }
                                    else
                                    {
                                        <img src="~/Uploads/Images/Services/@service.ImageUrl" class="img-fluid" alt="...">
                                    }
                                </a>
                                <div class="course-content item33">
                                    <a href="#">
                                        <div class="d-flex justify-content-between align-items-center mb-4 position-relative">
                                            <h4>@service.LeefCategoryName</h4>
                                            <p class="price spcial">@service.TotalPrice</p>
                                        </div>

                                    </a><h3><a href="course-details.html"></a><a href="course-details.html">@service.Name</a></h3>
                                    <p style="height:65px;">
                                        @service.Description
                                    </p>
                                    <div class="trainer d-flex justify-content-between align-items-center">
                                        <div class="trainer-profile d-flex align-items-center">
                                            @*<img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">*@
                                            <span>@service.ProviderName</span>
                                        </div>
                                        <div class="trainer-rank d-flex align-items-center">
                                            <i class="bx bxs-star"></i><span>@service.ProviderRate</span>

                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-block mt-2">
                                        Add To Cart
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ant-design" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024" data-icon="ant-design:shopping-cart-outlined" style="font-size: x-large;"><path d="M922.9 701.9H327.4l29.9-60.9l496.8-.9c16.8 0 31.2-12 34.2-28.6l68.8-385.1c1.8-10.1-.9-20.5-7.5-28.4a34.99 34.99 0 0 0-26.6-12.5l-632-2.1l-5.4-25.4c-3.4-16.2-18-28-34.6-28H96.5a35.3 35.3 0 1 0 0 70.6h125.9L246 312.8l58.1 281.3l-74.8 122.1a34.96 34.96 0 0 0-3 36.8c6 11.9 18.1 19.4 31.5 19.4h62.8a102.43 102.43 0 0 0-20.6 61.7c0 56.6 46 102.6 102.6 102.6s102.6-46 102.6-102.6c0-22.3-7.4-44-20.6-61.7h161.1a102.43 102.43 0 0 0-20.6 61.7c0 56.6 46 102.6 102.6 102.6s102.6-46 102.6-102.6c0-22.3-7.4-44-20.6-61.7H923c19.4 0 35.3-15.8 35.3-35.3a35.42 35.42 0 0 0-35.4-35.2zM305.7 253l575.8 1.9l-56.4 315.8l-452.3.8L305.7 253zm96.9 612.7c-17.4 0-31.6-14.2-31.6-31.6c0-17.4 14.2-31.6 31.6-31.6s31.6 14.2 31.6 31.6a31.6 31.6 0 0 1-31.6 31.6zm325.1 0c-17.4 0-31.6-14.2-31.6-31.6c0-17.4 14.2-31.6 31.6-31.6s31.6 14.2 31.6 31.6a31.6 31.6 0 0 1-31.6 31.6z" fill="currentColor"></path></svg>
                                    </button>
                                </div>

                            </div>
                        }
                    </div>
                </div>
            </section><!-- End Popular Courses Section -->
        }
    }

    <section class="advertising">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-md-6">
                    <div class="img">
                        <img src="~/assets/img/advertising.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="img">
                        <img src="~/assets/img/advertising.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>professor</h2>
                <p>Our Professional professor</p>
            </div>

            <div class="owl-carousel trainers-carousel" data-aos="zoom-in" data-aos-delay="100">
                @foreach (var provider in Model.Providers)
                {
                    <div class="member">
                        @if (string.IsNullOrEmpty(provider.ImageUrl))
                        {
                            <img src="~/assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                        }
                        else
                        {
                            <img src="~/Uploads/Images/Users/@provider.ImageUrl" class="img-fluid" alt="">
                        }
                        <div class="member-content">
                            <h4>@provider.Name</h4>
                            @*    <span>Web Development</span>*@
                            <p>
                                @provider.Description
                            </p>
                            <div class="trainer-rank d-flex align-items-center">
                                <i class='bx bxs-star'></i><span>@provider.Rate</span>

                            </div>
                        </div>
                    </div>
                }



            </div>

        </div>
    </section><!-- End Trainers Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">@Model.Students</span>
                    <p>Students</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">@Model.CountProviders</span>
                    <p>Providers</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">@Model.Services</span>
                    <p>Services</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">@Model.Books</span>
                    <p>Books</p>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->

</main><!-- End #main -->