@model List<MRBLACK.Models.Database.Subject>
@{
    Layout = null;
    var i = ViewBag.PageStartRowNum;
}

@foreach (var item in Model)
{
<tr>
    <td>@i</td>
    <td>
        @Html.DisplayFor(modelItem => item.EnName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ArName)
    </td>
    <td>
        @if(item.UcdsEductionManagement != null && item.UcdsEductionManagement.Count() > 0)
        {
            foreach(var uc in item.UcdsEductionManagement)
            {
                <p>@uc.Department.ArName - @uc.College.ArName - @uc.University.ArName - @uc.University.Country.ArName</p>
            }
        }
    </td>
    <td>0</td>
    <td>
        @if (item.ImgPath != null)
        {
            <img src="~/Uploads/Images/Subjects/@item.ImgPath" width="50" height="50" style="border-radius:100%;" />
        }
    </td>
    <td>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#flipFlop" onclick="FillPopup('/Subject/Edit/@item.Id')">
            <i class="fa fa-edit"></i><span>  تعديل</span>
        </button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#flipFlop" onclick="FillPopup('/Subject/Delete/@item.Id')">
            <i class="fa fa-trash"></i><span>  حذف</span>
        </button>
    </td>
</tr>
    i++;
}
