@model MRBLACK.Models.ViewModels.ConfirmDeleteVM

@{
    Layout = null;
}
<style>
    .swal2-popup{
        width:500px;
        height:300px;
        font-size:16px; 
    }
</style>
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/0.0.3/sweetalert2.css" integrity="sha512-GEj+wHqkGIXS+MXGhZbhOqJYfFfUIw/ts1hP0xvCKACiCgHFWtaOXAhQEQCA2twc36+5dm/1xLw4LUdsP8sdug==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/0.0.3/sweetalert2.min.css" integrity="sha512-m4A3doqdcj93BV2j9bMjN5P2s+tkcW4eKOmYCEg+6fF5hlf1lwcQtKM9PlbNjaKr535RSGI8bjBv9CUYEuvRHA==" crossorigin="anonymous" referrerpolicy="no-referrer" />*@

<form asp-action="@Model.ActionName" asp-controller="@Model.ControllerName">
    @if (Model.PkFieldIntVal != null)
    {
        <input asp-for="PkFieldIntVal" value="@Model.PkFieldIntVal" type="hidden" />
    }
    else
    {
        <input asp-for="PkFieldStrVal" value="@Model.PkFieldStrVal" type="hidden" />
    }
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modalLabel">@Model.Title</h4>
        </div>
        <div class="modal-body">
            <div class="panel">
                <div class="panel-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <p>هل انت متأكد انك تريد حذف هذا العنصر ؟</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">الغاء</button>
            <input type="button" onclick="SubmitForm()" value="تأكيد الحذف" class="btn btn-danger" />
        </div>
    </div>
</form>

<!-- ClientSide Validation -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/0.0.3/sweetalert2.min.js" integrity="sha512-jvI/rBY1iVfdWDx3ecqMaRNYBI11mNYq0IYUKYtFkEzXt3ijdpAlPqeifoulqtCtjvpCRVRd+aRMCrN66HzCNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">
    function SubmitForm() {
        var model = {
            "ControllerName":"",
            "ActionName":"",
            "Title": "",
            "PkFieldIntVal": Number("@Model.PkFieldIntVal"),
            "PkFieldStrVal": "@Model.PkFieldStrVal"
        };
        $.ajax({
            type: "post",
            url: "/@Model.ControllerName/@Model.ActionName",
            data: { model },
            success: function (result) {
                if (result.isSuccess == true) {
                    Swal.fire(
                        {
                            title: "تم",
                            text: result.msg,
                            type: "success",
                            icon:"success",
                            showConfirmButton:false,
                            timer: 2000
                        }).then(function () {
                        window.location = "";
                    });
                }
                else {
                    Swal.fire(
                        {
                            title: "خطأ",
                            text: result.msg,
                            icon:"error",
                            type: "error",
                            showConfirmButton: false,
                            timer: 2000
                        }).then(function () {
                            window.location = "";
                        });

                }
                
            }
        });
    }
</script>


