@model MRBLACK.Models.ViewModels.PaginationVM
@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}

<a class="btn btn-default @prevDisabled"
   onclick="ReloadPagination(@(Model.PageIndex - 1))">السابق</a>
@for (var i = 1; i <= Model.TotalPages; i++)
{
    if (Model.PageIndex == i)
    {
        <a class="btn btn-info"
           onclick="ReloadPagination(@i)">@i</a>
    }
    else
    {
        <a class="btn btn-default"
           onclick="ReloadPagination(@i)">@i</a>
    }

}
<a class="btn btn-default @nextDisabled"
   onclick="ReloadPagination(@(Model.PageIndex + 1))">التالي</a>

<script type="text/javascript">
    function ReloadPagination(pageNum) {
        var inpSearchVal = document.getElementById("inpSearch").value;
        $.ajax({
            url: "@Model.GetItemsUrl",
            type: "GET",
            data: { searchStr: inpSearchVal, pageNumber: pageNum },
            success: function (results) {
                $("#tbBody").empty();
                $("#tbBody").html(results);
                $.ajax({
                    url: "@Model.GetPaginationUrl",
                    type: "GET",
                    data: { searchStr: inpSearchVal, pageNumber: pageNum },
                    success: function (results) {
                        $("#dvPagination").empty();
                        $("#dvPagination").html(results);
                    }
                });
            }
        });
    }
</script>