@model MRBLACK.Models.Database.Copun

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string StartDate = "";
    string EndDate = "";
    string AccountStartDate = "";
    if (Model.StartDate != null)
    {
        StartDate = ((DateTime)Model.StartDate).ToString("yyyy-MM-dd");
    }

    if (Model.EndDate != null)
    {
        EndDate = ((DateTime)Model.EndDate).ToString("yyyy-MM-dd");
    }
    if (ViewBag.ActionName == "Create")
    {
        Model.IsPublic = false;
    }
    if (Model.AccountStartDate != null)
    {
        AccountStartDate = ((DateTime)Model.AccountStartDate).ToString("yyyy-MM-dd");
    }
}
@if (Model.IsPublic == true)
{
    <style>
        #dvCategoryId {
            display: none;
        }
    </style>
}
else
{
    <style>
        #dvCategoryId {
            display: inherit;
        }
    </style>
}

<button type="button" class="btn btn-buy" onclick="BackToPreviousPage()"><i class="fa fa-forward"></i> العودة للصفحة السابقة</button>

<form asp-action="@ViewBag.ActionName" method="post" enctype="multipart/form-data" id="myForm">

    <div class="panel">
        <div class="panel-heading">
            <h2 class="text-center">اضافة/تعديل كوبون خصم</h2>
        </div>
        <div class="panel-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <div class="col-sm-6">
                    <label asp-for="NameOrCode">كود الخصم</label>
                    <input asp-for="NameOrCode" class="form-control" placeholder="كود الخصم" />
                    <span asp-validation-for="NameOrCode" class="text-danger"></span>
                </div>

                <div class="col-sm-6">
                    <label asp-for="DiscountPercentage">نسبة الخصم (%)</label>
                    <input asp-for="DiscountPercentage" class="form-control inpNumber" placeholder="نسبة الخصم" />
                    <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
                </div>

                <div class="col-sm-6">
                    <br />
                    <input type="checkbox" asp-for="IsPublic" />
                    <label asp-for="IsPublic">هل هو بشكل عام على اي خدمات</label>
                    <span asp-validation-for="IsPublic" class="text-danger"></span>
                </div>

                <div class="col-sm-6" id="dvCategoryId">
                    <label asp-for="CategoryId">التصنيف</label>
                    <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.CategoryList">
                        <option value="-1" selected disabled>اختر التصنيف</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="col-sm-6">
                    <label asp-for="MinInvoiceVal">اقل قيمة للفاتورة</label>
                    <input asp-for="MinInvoiceVal" class="form-control inpNumber" placeholder="اقل قيمة للفاتورة" type="number" />
                    <span asp-validation-for="MinInvoiceVal" class="text-danger"></span>
                </div>
                @*<div class="col-sm-12">
                        <label asp-for="CurrencyTypeId">نوع العملة</label>
                        <select class="form-control" asp-for="CurrencyTypeId" asp-items="@ViewBag.CurrencyTypeList">
                            <option value="-1" selected disabled>اختر نوع العملة</option>
                        </select>
                        <span asp-validation-for="CurrencyTypeId" class="text-danger"></span>
                    </div>*@
                <div class="col-sm-6">
                    <label asp-for="DiscountOnWho">على من سيكون الخصم؟</label>
                    <select class="form-control" asp-for="DiscountOnWho">
                        <option value="-1" selected disabled>اختر على من سيكون الخصم</option>
                        <option value="1">المنصة</option>
                        <option value="2">مقدم الخدمة</option>
                    </select>
                    <span asp-validation-for="DiscountOnWho" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="StartDate">تاريخ بدأ استخدام الكوبون</label>
                    <input asp-for="StartDate" type="date" class="form-control" placeholder="تاريخ بدأ استخدام الكوبون" value="@StartDate" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="EndDate">تاريخ انتهاءه</label>
                    <input asp-for="EndDate" type="date" class="form-control" placeholder="تاريخ انتهاءه" value="@EndDate" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="AccountStartDate">تاريخ بدء انشاء الحساب</label>
                    <input asp-for="AccountStartDate" type="date" class="form-control" placeholder="تاريخ بدء انشاء الحساب" value="@AccountStartDate" />
                    <span asp-validation-for="AccountStartDate" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <a class="btn btn-info" href="/Copun/Index">عودة للقائمة</a>
            <input type="submit" value="حفظ" class="btn btn-success" />
        </div>
    </div>

</form>


<script type="text/javascript">
    $("#IsPublic").change(function () {
        var IsPublic = $(this).val();
        if (IsPublic == "true") {
            $(this).val("false");
        }
        else {
            $(this).val("true");
        }
        if (IsPublic == "true") {
            $("#dvCategoryId").css("display", "none");
        }
        else {
            $("#dvCategoryId").css("display", "");
        }

    });


    document.querySelector("#DiscountPercentage").addEventListener("keypress", function (evt) {
        if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57) {
            evt.preventDefault();
        }
    });

    document.querySelector("#MinInvoiceVal").addEventListener("keypress", function (evt) {
        if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57) {
            evt.preventDefault();
        }
    });
</script>

<!-- ClientSide Validation -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}
