@model MRBLACK.Models.ViewModels.SupervisorVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="@ViewBag.ActionName" method="post" enctype="multipart/form-data">
    <div class="panel">
        <div class="panel-heading">
            <h2 class="text-center">اضافة مشرف</h2>
        </div>
        <div class="panel-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <div class="col-sm-6">
                    <label asp-for="Name">الاسم</label>
                    <input asp-for="Name" class="form-control" placeholder="الاسم" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="RoleId">الدور</label>
                    <select asp-for="RoleId" class="form-control" data-live-search="true" asp-items="@Model.RoleList">
                        <option selected disabled value="-1">اختر الدور</option>
                    </select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="Gender">الجنس</label>
                    <select asp-for="Gender" class="form-control" data-live-search="true">
                        <option selected disabled>اختر الجنس</option>
                        <option value="1" selected="@(Model.Gender == 1? true : false)">ذكر</option>
                        <option value="2" selected="@(Model.Gender == 2? true : false)">انثى</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="CountryId">الدولة</label>
                    <select asp-for="CountryId" class="form-control" data-live-search="true" asp-items="@Model.CountryList">
                        <option selected disabled value="-1">اختر الدولة</option>
                    </select>
                    <span asp-validation-for="CountryId" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="Email">البريد الالكتروني</label>
                    <input asp-for="Email" class="form-control" placeholder="البريد الالكتروني" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="Phone">رقم الهاتف</label>
                    <input asp-for="Phone" class="form-control" placeholder="رقم الهاتف" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="Password">كلمة المرور</label>
                    <input asp-for="Password" class="form-control" placeholder="كلمة المرور" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="ConfirmPassword">تأكيد كلمة المرور</label>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="تأكيد كلمة المرور" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-info" href="/Supervisor/Index">عودة للقائمة</a>
            <input type="submit" value="حفظ" class="btn btn-success" />
        </div>
    </div>

</form>

<!-- ClientSide Validation -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}


<script>

    document.querySelector("#Phone").addEventListener("keypress", function (evt) {
        if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57) {
            evt.preventDefault();
        }
    });

</script>