@model List<MRBLACK.Models.Database.University>
@{
    Layout = null;
    var i = ViewBag.PageStartRowNum;
}

@foreach (var item in Model)
{
    <tr>
        <td>@i</td>
        <td>UNI_@item.Id</td>
        <td>
            @Html.DisplayFor(modelItem => item.EnName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.ArName)
        </td>
        <td>
            @if (item.UcdsEductionManagement != null)
            {
                var colleges = item.UcdsEductionManagement.Where(c => c.CollegeId != null).Select(c => c.CollegeId).Distinct().Count();
                <a href="@(colleges == 0 ? "#" : "/College/Index?searchStr="+item.ArName)">
                    <span class="@(colleges == 0 ? "text-gray" : "font-weight-bold")">@colleges</span>
                </a>
            }
        </td>
        <td><span class="text-gray">0</span></td>
        <td>
            @if (item.ImgPath != null)
            {
                <img src="~/Uploads/Images/Universities/@item.ImgPath" width="50" height="50" style="border-radius:100%;" />
                <br />
                <a href="/University/RemoveImage/@item.Id" class="text-danger"><i class="fa fa-times"></i> حذف الصورة</a>
            }
        </td>
        <td>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#flipFlop" onclick="FillPopup('/University/Edit/@item.Id')">
                <i class="fa fa-edit"></i><span>  تعديل</span>
            </button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#flipFlop" onclick="FillPopup('/University/Delete/@item.Id')">
                <i class="fa fa-trash"></i><span>  حذف</span>
            </button>
        </td>
    </tr>
    i++;
}
