@model MRBLACK.Models.Database.Department

@{
    Layout = null;
}
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<!-- ClientSide Validation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

<form asp-action="@ViewBag.ActionName" method="post" enctype="multipart/form-data">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modalLabel">اضافة/تعديل قسم</h4>
        </div>
        <div class="modal-body">
            <div class="panel">
                <div class="panel-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="ImgPath" />
                    <div class="form-group row">
                        <label class="col-lg-3">الاسم بالانجليزية</label>
                        <input asp-for="EnName" class="col-lg-9 form-control" placeholder="الاسم بالانجليزية" />
                        <span asp-validation-for="EnName" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3">الاسم بالعربية</label>
                        <input asp-for="ArName" class="col-lg-9 form-control" placeholder="الاسم بالعربية" />
                        <span asp-validation-for="ArName" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3">الكليات</label>
                        <select class="col-lg-9 form-control chosen-select" multiple id="UCDS" name="UCDS">
                            @foreach (MRBLACK.Models.Database.UcdsEductionManagement item in ViewBag.CollegeUniversityCountryList)
                            {
                                if (Model.UcdsEductionManagement.Where(c => c.Id == item.Id).Count() > 0)
                                {
                                    <option value="@item.Id" selected>@item.College.ArName - @item.University.ArName - @item.University.Country.ArName</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.College.ArName - @item.University.ArName - @item.University.Country.ArName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3">الصورة</label>
                        <input name="img" id="img" class="col-lg-9 form-control" type="file" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">اغلاق</button>
            <input type="submit" value="حفظ" class="btn btn-success" />
        </div>
    </div>
</form>

<script>
    $(".chosen-select").chosen({
        no_results_text: "Oops, nothing found!"
    })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
