@model List<MRBLACK.Models.Database.ServiceCategory>
@{
    Layout = null;
    var i = ViewBag.PageStartRowNum;
}

@foreach (var item in Model)
{
    <tr>
        <td>@i</td>
        <td>
            @if (item.ImgPath != null)
            {
                <img src="~/Uploads/Images/Categories/@item.ImgPath" width="50" height="50" style="border-radius:100%;" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentCategory.ArName)
        </td>
        <td>
            @if (item.PricingMethod == 1)
            {
                <p>جبري</p>
                <p class="text-primary">سعر الخدمة : @item.ServicePrice</p>
                <p class="text-success">مبلغ امنصة من سعر الخدمة : @item.PlatformRevenueFromServPrice</p>
            }
            else
            {
                <p>عمولة</p>
                <p class="text-success">نسبة المنصة من سعر الخدمة : @item.CommissionPercentage</p>
            }
        </td>
        <td>
            @if (item.Service != null)
            {
                <span>@item.Service.Count()</span>
            }
        </td>
        <td>
            @if (item.InverseParentCategory != null)
            {
                <span>@item.InverseParentCategory.Count()</span>
            }
        </td>
        <td>
            <a class="btn btn-info" href="/ServiceCategory/Edit/@item.Id">
                <i class="fa fa-edit"></i><span>  تعديل</span>
            </a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#flipFlop" onclick="FillPopup('/ServiceCategory/Delete/@item.Id')">
                <i class="fa fa-trash"></i><span>  حذف</span>
            </button>
        </td>
    </tr>
    i++;
}
